In [5]:
import pandas as pd

customers = pd.read_csv("../data_product_course/data/raw/customers.csv")
products = pd.read_csv("../data_product_course/data/raw/products.csv")
orders = pd.read_csv("../data_product_course/data/raw/orders.csv")

print("customers shape:", customers.shape)
print("products shape:", products.shape)
print("orders shape:", orders.shape)

display(customers.head())
display(products.head())
display(orders.head())

print("\nDtypes:")
print(customers.dtypes)
print(products.dtypes)
print(orders.dtypes)

customers shape: (5, 5)
products shape: (3, 3)
orders shape: (6, 5)

   customer_id          name                  email country  created_at
0            1     Ana Perez     ANA.PEREZ@MAIL.COM      CO  2025-10-01
1            2  Carlos Gomez  carlos.gomez@mail.com      CO  2025-10-03
2            3  Luisa Torres  luisa.torres@mail.com      MX  2025-11-15
3            4    Mario Ruiz    mario.ruiz@mail.com      CL  2025-11-20
4            5    Sofia Diaz    sofia.diaz@mail.com      CO  2025-12-01

   product_id     product_name      category
0          10      Plan Basico  Subscription
1          20         Plan Pro  Subscription
2          30  Soporte Premium      Services

   order_id  customer_id  product_id  order_date  amount
0      1001            1          10  2026-01-01   19.99
1      1002            2          20  2026-01-02   49.99
2      1003            1          30  2026-01-03   15.00
3      1004            3          10  2026-01-03   19.99
4      1005            4          20  2026-01-04   49.99

Dtypes:
customer_id     int64
name           object
email          object
country        object
created_at     object
dtype: object
product_id       int64
product_name    object
category        object
dtype: object
order_id         int64
customer_id      int64
product_id       int64
order_date      object
amount         float64
dtype: object