In [5]:
import pandas as pd

customers = pd.read_csv('../data_product_course/data/raw/customers.csv')
customers.head()

   customer_id          name                  email country  created_at
0            1     Ana Perez     ANA.PEREZ@MAIL.COM      CO  2025-10-01
1            2  Carlos Gomez  carlos.gomez@mail.com      CO  2025-10-03
2            3  Luisa Torres  luisa.torres@mail.com      MX  2025-11-15
3            4    Mario Ruiz    mario.ruiz@mail.com      CL  2025-11-20
4            5    Sofia Diaz    sofia.diaz@mail.com      CO  2025-12-01

In [6]:
import pandas as pd

df = customers.copy()

df = customers.copy()

# 1) Trim de texto
df["name"] = df["name"].astype(str).str.strip()

# 2) Email: minúsculas + trim
df["email"] = df["email"].astype(str).str.strip().str.lower()

# 3) Fecha: convertir a datetime
df["created_at"] = pd.to_datetime(df["created_at"], errors="coerce")

df.head()

   customer_id          name                  email country created_at
0            1     Ana Perez     ana.perez@mail.com      CO 2025-10-01
1            2  Carlos Gomez  carlos.gomez@mail.com      CO 2025-10-03
2            3  Luisa Torres  luisa.torres@mail.com      MX 2025-11-15
3            4    Mario Ruiz    mario.ruiz@mail.com      CL 2025-11-20
4            5    Sofia Diaz    sofia.diaz@mail.com      CO 2025-12-01

In [7]:
# customer_id no nulo
null_customer_id = df["customer_id"].isna().sum()

# customer_id único
dup_customer_id = df.duplicated(subset=["customer_id"]).sum()

# created_at parseado (no NaT)
null_created_at = df["created_at"].isna().sum()

print("Null customer_id:", null_customer_id)
print("Duplicate customer_id:", dup_customer_id)
print("Null created_at (parse errors):", null_created_at)

assert null_customer_id == 0, "Hay customer_id nulos"
assert dup_customer_id == 0, "Hay customer_id duplicados"
assert null_created_at == 0, "Hay created_at inválidos (NaT)"
print("✅ Quality checks OK")

Null customer_id: 0
Duplicate customer_id: 0
Null created_at (parse errors): 0
✅ Quality checks OK

In [8]:
output_path = "../data_product_course/data/processed/silver_customers.csv"
df.to_csv(output_path, index=False)
print("Guardado:", output_path)

Guardado: ../data_product_course/data/processed/silver_customers.csv